.home-wrapper {
    position: relative;
    height: 92.6vh;
    width: 100%;
    overflow: hidden;
  }
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('https://images.unsplash.com/photo-1678846851807-3fab5c774d14?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* or your new calendar photo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1;
  }
  
 