<!-- Navigation Tabs -->
<nav class="tabs">
  <a routerLink="/home" routerLinkActive="active-tab">Home</a>
  <a routerLink="/cities" routerLinkActive="active-tab">Cities</a>
  <a routerLink="/weather" routerLinkActive="active-tab">Weather</a>
  <a routerLink="/tech-ideas" routerLinkActive="active-tab">Tech Ideas</a>
</nav>

<!-- Routed Content Appears Here -->
<div class="tab-content">

</div>

<!-- Footer -->
<footer style="margin-top: 2rem;">
  Created by {{ myName }}!
</footer>
<router-outlet></router-outlet>