#navbarNavAltMarkup {
    background-color: rgba(243, 139, 139, 0.795);
    position: fixed;
    width: 100%;
    padding: 10px 0;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1000; 
    border-radius: 40px;

  }
  
  #navbarNavAltMarkup .nav-link {
    color: white !important;
    font-size: 16px !important; 
    margin: 0 15px;
    text-decoration: none;
  }
  
a {
    padding: 20px;
    display: inline;
}

footer { 
    color: white;
    background-color: rgba(243, 139, 139, 0.795);;
    position: fixed;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0%;
    left: 0%;
    text-align: center;
    opacity: 0.2;
    border-radius: 40px;
}

