<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Goals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Manage Your Goals</ion-card-title>
      <ion-card-subtitle>Stay focused and achieve your dreams</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Keep track of your goals, stay motivated, and celebrate your progress.
    </ion-card-content>
    <ion-button fill="clear" [routerLink]="['/goal-list']">Goals</ion-button>
 
  </ion-card>
</ion-content>
