.center-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;         
    min-height: 50vh;           
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: auto;
  }
  
  td, th {
    padding: 10px 10px;
    text-align: center;
  }
  