<div>
  <table border="1">
    <tr>
      <th>Time</th>
      <th>Spring</th>
      <th>Summer</th>
      <th>Autumn</th>
      <th>Winter</th>
    </tr>
    <tr>
      <td>Morning</td>
      <td>{{springN}}</td>
      <td>{{summerN}}</td>
      <td>{{autumnN}}</td>
      <td>{{winterN}}</td>
    </tr>
    <tr>
      <td>Evening</td>
      <td>{{springM}}</td>
      <td>{{summerM}}</td>
      <td>{{autumnM}}</td>
      <td>{{winterM}}</td>
    </tr>
  </table>

  <div style="margin-top: 1rem;">
    The most suitable time to enjoy your holiday in <strong>{{name}}</strong> would be between <strong>{{visitFrom}}</strong> and <strong>{{visitTo}}</strong>.
  </div>
</div>
